<h2 class="text-center mb-5">Edit Sku</h2>

<p class="text-center lead">Create a SKU format for the SKU number you want to create. Press the <i class="bi bi-plus-lg"></i> button to add parts to the SKU number to create desired format.</p>

<div class="d-flex align-items-end justify-content-center mt-4">    
    <% let i = 0; %>
    <% while(i < skuformat.length){ %>
        <button id="sku-part-<%-i%>" class="btn btn-sm btn-success add-part-btn" data-bs-toggle="modal" data-bs-target="#addSkuModal">
            <i class="bi bi-plus-lg"></i>
        </button>
        <div class="d-flex flex-column align-items-center">
            <!-- <p class="mb-2"><%-skuformat[i].name%></p> -->
            <p class="mb-2">Type: <%-skuformat[i].type%></p>
            <button class="btn text-primary sku-part" data-bs-toggle="modal" data-bs-target="#addSkuModal">
                <%-skuformat[i].name%>
                <input type="hidden" value="<%-skuformat[i]._id%>">
            </button>
        </div>
        <% i++; %>
    <% } %>
    <button id="sku-part-<%-i%>" class="btn btn-sm btn-success add-part-btn" data-bs-toggle="modal" data-bs-target="#addSkuModal">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="addSkuModal" tabindex="-1" aria-labelledby="addSkuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <!-- Loading Spinner -->
            <div class="spinner-wrapper d-flex justify-content-center align-items-center position-absolute w-100 h-100 top-0 start-0 d-none">
                <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
    
            <div class="modal-header">
                <h5 class="modal-title" id="addSkuModalLabel">Create SKU Segment</h5>
                <button type="button" class="btn-close close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="sku-part-form" action="/skugen/skuformat/seg" method="POST">
                    <input name="skuIndex" type="hidden" value="">
                    <div class="mb-3">
                        <label for="skuPartName" class="form-label">Name:</label>
                        <input id="skuPartName" name="skuPartName" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="skuPartType">Type:</label>
                        <select id="skuPartType" name="skuPartType" class="form-select" aria-label="Select Type of SKU Part">
                            <option selected hidden>Select Type of SKU Segment</option>
                            <option value="tags">Tags</option>
                            <option value="seqNum">Sequence Number</option>
                        </select>
                    </div>
                    <div id="tagCombosSection" class="d-none">
                        <div id="tagCombos">
                            <div class="row fw-bold">
                                <div class="col"><p class="text-center mb-2">Tag</p></div>
                                <div class="col"><p class="text-center mb-2">Abbreviation</p></div>
                            </div>
                            <div class="row tagCombo mb-2">
                                <div class="col-6">
                                    <input name="key" class="form-control" type="text">
                                </div>
                                <div class="col-5">
                                    <input name="value" class="form-control" type="text">
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-outline-danger delete-tag-combo">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" id="addTagCombo" class="btn btn-primary">Add Row</button>
                        </div>
                    </div>
                    <div id="seqNumSection" class="d-none">
                        <p class="mb-1">Define a starting number for the sequence.</p> 
                        <p>Example "0001" means sequence number format is 4 digits and starts at 1.</p>
                        <div class="row">
                            <div class="col-4 d-flex justify-content-end">
                                <label class="align-self-center" for="seqNum">Seq Num</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="text" name="seqNum" id="seqNum" value="0001">
                            </div>
                        </div>
                    </div>
    
                </form>
            </div>
            <div class="modal-footer">
                <form id="sku-part-del-form" action="/skugen/skuformat/seg" method="POST">
                    <button id='del-seg-btn' type="submit" class="btn btn-danger d-none">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary close-modal-btn" data-bs-dismiss="modal">Close</button>
                <button id="submit-sku-part-form" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>